.gallery {
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    // border: 1px solid blue;
    width: 13vw;
    height: 50vh;
    margin: 2%;
    border-radius: 15px;
    background-color: darken(@background, 5%);
    box-shadow: @custom-shadow;
  }
}