// views
@mobile: ~'(max-width: 999px)';
@desktop: ~'(min-width: 1000px)';

// background-colors
@footer-color: #F9FAFB;

// font colors
@surfer-blue: #0AC3CF;
@murple-purple: #C716C4;
@cadet-black: #2E2C48;
@secondary-cadet: #525575;
@tertiary-cadet: #646378;

// custom variables
@background: #ececec;
@custom-black: #222222;
@custom-red: #e71414;
@custom-blue: #196496;

@custom-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);